<md-card>
    <md-list>
      <md-list-item>
     
        <div class="md-list-item-text" layout="column" layout-fill>

          <div layout="row"  layout-align="center center">
            <span flex><h6 class="fieldHeader text-center">Assembly Name</h6></span>
            <span flex><h6 class="fieldHeader text-center">Assembly Number</h6></span>
            <span flex><h6 class="fieldHeader text-center">Number of Parts</h6></span>
            <span flex><h6 class="fieldHeader text-center">Total Cost</h6></span>
          </div>
          <div layout="row" layout-align="center center">
            <h4 flex class="text-center">{{objAssembly.assemblyName}}</h4>
            <h4 flex class="text-center">{{objAssembly.assemblyNumber}}</h4>
            <h4 flex class="text-center">{{objAssembly.assemblyItems.length}}</h4>
            <h4 flex class="text-center">{{objAssembly.totalProjectCost}}</h4>
          </div>
          
        </div>
        <div>
          <i class="fa fa-pencil-square-o" ng-click="editProject(project)"></i>
          <i class="fa fa-plus" aria-hidden="true" ng-click="createNewItem"></i>
          <i class="fa fa-trash-o" ng-click="deleteProject(project,$index)"></i>
        </div>
      </md-list-item>
    </md-list>


<div ng-show="editObjInAssembly || insertObjInAssembly">
<md-divider flex></md-divider>

  <div layout-padding >
  <br>
    <div layout="row" layout-wrap>

      <md-input-container>
        <label>Item Id (Bar Code)</label>
        <input type="text" ng-model="obj.itemCode" ng-readonly="justInfo">
      </md-input-container>
      <md-input-container  flex="50">
        <label>Item Name</label>
        <input type="text" ng-model="obj.itemName" ng-readonly="justInfo">
      </md-input-container>

      <md-input-container ng-hide ="!obj.itemAmount && justInfo">
        <label>Item Amount</label>
        <input type="number" ng-model="obj.itemAmount" ng-readonly="justInfo">
      </md-input-container>
          
      &nbsp
      <!-- editing part -->
        <div ng-show="editObjInAssembly" ng-hide="insertObjInAssembly">
          <i  ng-click="updateItemInAssembly(obj)" layout-padding class="fa fa-check-circle fa-2x text-success" >  
        </i>&nbsp &nbsp &nbsp
        </div>
        <div ng-show="editObjInAssembly" ng-hide="insertObjInAssembly">
          <i  ng-click="editObjInAssembly=false"  layout-padding class="fa fa-times fa-2x text-danger"></i>
          &nbsp &nbsp &nbsp
        </div>
        <!-- editing part -->
        <!-- inserting part -->
        <div ng-hide="editObjInAssembly" ng-show="insertObjInAssembly">
          <i  ng-click="insertItemInAssembly(obj)" layout-padding class="fa fa-check-circle fa-2x text-success" >  
        </i>&nbsp &nbsp &nbsp
        </div>
        <div ng-hide="editObjInAssembly" ng-show="insertObjInAssembly">
          <i  ng-click="insertObjInAssembly=false"  layout-padding class="fa fa-times fa-2x text-danger"></i>
          &nbsp &nbsp &nbsp
        </div>
        <!-- inserting part -->
    
    </div>
    
  </div>

</div>






<md-divider flex></md-divider>

  <table class="table table-hover table-responsive panel">    
        <thead>
        <tr class="table" >
          <th ng-repeat="(key, val) in header" style="cursor:pointer;">
            <p ng-click="order(key)">{{val}}</p>
        </th>
          <th ng-hide="createAssembly"><p>Handling</p></th>
          <th ng-show="createAssembly"><p>Select</p></th>          
        </tr>
        </thead>

        <tbody>
        <tr ng-repeat="sample in collection | filter:search | orderBy:predicate:reverse">
          <!-- <td>{{$index}}</td> -->
          <td>{{sample.itemCode | limitTo:17}}</td>
          <td contentEditable="{{createAssembly}}" ng-model="sample.itemAmount" type="number">{{sample.itemAmountInAssembly}}</td>
<!--           <td>{{sample.stockAmount}}</td> -->
          <td>{{sample.itemName | limitTo:20}}</td>         
          <td>{{sample.itemBuyPrice}}</td>
        <td ng-hide="createAssembly">
          <i class="fa fa-pencil-square-o" ng-click="editItemInAssembly(sample)"></i>&nbsp&nbsp
          <i class="fa fa-trash" ng-click="deleteRow(sample.ID)"></i>
          
          </td>
          <td ng-show="createAssembly"><input type="checkbox" ng-change="" ng-model="sample.insert"></td>
        </tr>
        </tbody>    
  </table>  


</md-card>