<md-card>
	<table class="table table-hover table-responsive panel">    
    		<thead>
	   		<tr class="table" >
		  		<th ng-repeat="(key, val) in header" style="cursor:pointer;">
		  			<p ng-click="order(key)">{{val}}</p>
		 		</th>
		  		<th ng-hide="createAssembly"><p>Handling</p></th>
		  		<th ng-show="createAssembly"><p>Select</p></th>          
	   		</tr>
    		</thead>

    		<tbody>
	   		<tr ng-repeat="sample in collection | filter:search | orderBy:predicate:reverse">
		  		<td>{{sample.itemCode | limitTo:17}}</td>
		  		<!-- <td>{{sample.itemName}}</td> -->
		  		<td contentEditable="{{createAssembly}}" ng-model="sample.itemAmount" type="number">{{sample.itemAmount}}</td>
		  		<!--<td>{{sample.itemAmount}}</td>-->
		  		<td>{{sample.itemType}}</td>
		  		<td>{{sample.itemName | limitTo:20}}</td>
		  		<!-- <td>{{sample.itemUnits}}</td> -->
		  		<!-- <td>{{sample.itemBrand}}</td> -->		  		
		  		<td>{{sample.itemBuyPrice}}</td>
		 		<td ng-hide="createAssembly">
		 		 	<i class="fa fa-pencil-square-o" ng-click="editObj(sample)"></i>&nbsp&nbsp
		 		 	<i class="fa fa-info-circle" ng-click="readObj(sample)"></i>&nbsp&nbsp
			 		<i class="fa fa-trash" ng-click="deleteRow(sample.ID)"></i>
			 		
		  		</td>
		  		<td ng-show="createAssembly"><input type="checkbox" ng-change="" ng-model="sample.insert"></td>
	   		</tr>
    		</tbody>    
	</table>  
</md-card>
