<md-card>
	<table class="table table-hover table-responsive panel">    
    		<thead>
	   		<tr class="table" >
		  		<th ng-repeat="(key, val) in header" style="cursor:pointer;">
		  			<p ng-click="order(key)">{{val}}</p>
		 		</th>
		  		<th>Handling</th>           
	   		</tr>
    		</thead>

    		<tbody>
	   		<tr ng-repeat="sample in collection | filter:search | orderBy:predicate:reverse">
		  		<td>{{sample.itemCode}}</td>
		  		<!-- <td>{{sample.itemName}}</td> -->
		  		<td>{{sample.itemAmount}}</td>
		  		<td>{{sample.itemType}}</td>
		  		<td>{{sample.itemProvider}}</td>
		  		<!-- <td>{{sample.itemUnits}}</td> -->
		  		<!-- <td>{{sample.itemBrand}}</td> -->		  		
		  		<td>{{sample.itemBuyPrice}}</td>
		 		<td>
		 		 	<i class="fa fa-pencil-square-o" ng-click="editObj(sample)"></i>&nbsp&nbsp
		 		 	<i class="fa fa-info-circle" ng-click="readObj(sample)"></i>&nbsp&nbsp
			 		<i class="fa fa-trash" ng-click="deleteRow(sample.ID)"></i>
			 		
		  		</td>
	   		</tr>
    		</tbody>    
	</table>  
</md-card>