
	<md-card>	
		<div layout="row">

			<md-input-container md-no-float class="search" flex>
		<md-icon><i class="fa fa-search fa-lg "></i></md-icon>
		<input type="text" ng-model="search" placeholder="Here you can find all the items you don't have in your Stock">
	</md-input-container>
	<md-input-container flex="20" class="search">
		<md-select ng-model="filterModel" placeholder="Filter By">
		<md-option ng-value ="opt" ng-repeat="opt in filterBy track by $index">{{opt.tagToShow}}</md-option>
		</md-select>
	</md-input-container> <p layout-margin layout-padding class="search">:</p>
	<md-input-container flex="20" class="search"> 
		<md-select ng-model="queryTag" placeholder="Select a {{filterModel.tagToShow}}" ng-change="queryItems()">
		<md-option ng-value ="tag" ng-repeat="tag in filterModel.array">{{tag}}</md-option>
		</md-select>
	</md-input-container>



			<i layout-margin layout-padding class="fa fa-building fa-lg" ng-click="initOrder=!initOrder"></i>
	    </div> 
	</md-card>


	



	
	<i-table></i-table>


	