
<md-card layout="row">

	<md-input-container md-no-float style="height:35px;padding-left:24px;" class="md-block" flex>
		<md-icon><i class="fa fa-search fa-lg "></i></md-icon>
		<input type="text" ng-model="search" placeholder="Here you can find all the items you don't have in your Stock">
	</md-input-container>
	<md-input-container flex="20">
		<md-select ng-model="filterModel" placeholder="Filter By">
		<md-option ng-value ="opt" ng-repeat="opt in filterBy">{{opt.tagToShow}}</md-option>
		</md-select>
	</md-input-container> <p layout-margin layout-padding class="fieldHeader">:</p>
	<md-input-container flex="20"> 
		<md-select ng-model="queryTag" placeholder="Select a {{filterModel.tagToShow}}" ng-change="llamar()">
		<md-option ng-value ="tag" ng-repeat="tag in filterModel.array">{{tag}}</md-option>
		</md-select>
	</md-input-container>
	<i layout-margin layout-padding ng-click="newObj()"  class="fa fa-plus fa-lg" ></i>
	<i layout-margin layout-padding  ng-click="createAssembley =!createAssembley" class="fa fa-cubes fa-lg text-info"></i>

    
</md-card>
<button ng-click="reducir()">reducir</button>
<button ng-click="restar()">restar</button>
<button ng-click="queryArray()">pedir query array</button>
<button ng-click="mostrar()">ver scope actual</button>{{j}}
<button ng-click="crearSub(collection)">crear subensamble</button>


<item-form></item-form>
<settings-table></settings-table>


	

	<!-- <i-table><i-table> -->
	
