
	
	<md-card>
		<div layout="row">
			<md-input-container md-no-float style="height:35px;padding-left:24px;" class="md-block" flex>
				<md-icon><i class="fa fa-search fa-lg"></i></md-icon>
		  		<input type="text" ng-model="search" placeholder="Here you can find all the items you don't have in your Stock">
			</md-input-container>
			<i layout-margin layout-padding ng-click="newObj()"  class="fa fa-plus fa-lg" ></i>
			<i layout-margin layout-padding class="fa fa-cubes fa-lg text-info"></i>
				
		</div>		
	</md-card>

	<item-form></item-form>

    <settings-table></settings-table>
	

	

	<!-- <i-table><i-table> -->
	
