
	<md-card>	
		<div layout="row">

			<md-input-container md-no-float class="search" flex>
		<md-icon><i class="fa fa-search fa-lg "></i></md-icon>
		<input type="text" ng-model="search" placeholder="Here you can find all the items you don't have in your Stock">
	</md-input-container>
	<md-input-container flex="20" class="search">
		<md-select ng-model="filterModel" placeholder="Filter By">
		<md-option ng-value ="opt" ng-repeat="opt in filterBy">{{opt.tagToShow}}</md-option>
		</md-select>
	</md-input-container> <p layout-margin layout-padding class="search">:</p>
	<md-input-container flex="20" class="search"> 
		<md-select ng-model="queryTag" placeholder="Select a {{filterModel.tagToShow}}" ng-change="callQuery()">
		<md-option ng-value ="tag" ng-repeat="tag in filterModel.array">{{tag}}</md-option>
		</md-select>
	</md-input-container>


			<i layout-margin layout-padding class="fa fa-university" ng-click="initOrder=!initOrder"></i>
	    </div>
	</md-card>

	<button  ng-show ="initOrder" ng-click="exportsome()" class="btn btn-success"> export some</button>

	<md-card style="display:none">

		<md-card-content layout="column" layout-align="center center">
			<h4>List Of Items to Order</h4>
			<div id="justsome">
				<table class="table table-hover table-responsive panel hidden-xs" >
	
				<thead>
					<tr class="">
						<th>Item Code </th>
						<th>Item Name </th>
						<th>Item Provider </th>
						<th>Item Price </th>
					</tr>
				</thead>

				<tbody>
					<tr ng-repeat="obj in viewItems | filter:{order:true}">
						<td>{{obj.itemCode}}</td>
						<td>{{obj.itemName}}</td>
						<td>{{obj.itemProvider}}</td>
						<td>{{obj.itemBuyPrice}}</td>			
					</tr>
				</tbody>
			</table>
			</div>
			
		</md-card-content>

	</md-card>
	<button  ng-hide ="initOrder" ng-click="exportData()" class="btn btn-success"> Exportar tabla</button>
	<i-table></i-table>

	