<md-card ng-repeat="project in projects">
    <md-list>
      <md-list-item>
      <img ng-src="{{project.providerImage}}" class="md-avatar" alt="" />
        <div class="md-list-item-text" layout="column" layout-fill>

          <div layout="row"  layout-align="center center">
            <span flex><h6 class="fieldHeader text-center">Project Name</h6></span>
            <span flex><h6 class="fieldHeader text-center">Project Number</h6></span>
            <span flex><h6 class="fieldHeader text-center">Project Type</h6></span>
            <span flex><h6 class="fieldHeader text-center">Total Cost</h6></span>
            <span flex><h6 class="fieldHeader text-center">Dead Line</h6></span>
          </div>
          <div layout="row" layout-align="center center">
          <h4 flex class="text-center">{{project.projectName}}</h4>
          <h4 flex class="text-center">{{project.projectNumber}}</h4>
          <h4 flex class="text-center">{{project.projectType}}</h4>
          <h4 flex class="text-center">{{project.totalProjectCost}}</h4>
          <h4 flex class="text-center">{{project.deadLine | date:"MM/dd/yyyy"}}</h4>
          </div>
          
        </div>
        <div>
          <i class="fa fa-pencil-square-o" ng-click="editProject(project)"></i>
          <i class="fa fa-info-circle"></i>
          <i class="fa fa-trash-o" ng-click="deleteProject(project,$index)"></i>
        </div>
      </md-list-item>
    </md-list>  
</md-card>