

<md-card>
    <md-list>
      <md-list-item>
     
        <div class="md-list-item-text" layout="column" layout-fill>

          <div layout="row"  layout-align="center center">
            <span flex ="25"><h6 class="fieldHeader text-center">Project Name</h6></span>
            <span flex ="30"><h6 class="fieldHeader text-center">Project Number</h6></span>
            <span flex ="15"><h6 class="fieldHeader text-center">Baugruppen</h6></span>
            <span flex ="30"><h6 class="fieldHeader text-center">Filter By</h6></span>
          </div>
          <div layout="row" layout-align="center center">
            <h4 flex ="25" class="text-center">{{currentProject.projectName}}</h4>
            <h4 flex ="30" class="text-center">{{currentProject.projectNumber}}</h4>
            <h4 flex ="15" class="text-center">{{currentProject.projectAssemblies.length}}</h4>
            <h4 flex ="30" class="text-center">
              <md-select ng-model="assemblyIndex" ng-change="filterByAssembly(assemblyIndex)" aria-label >            
              <md-option ng-repeat="assembly in assemblyList track by $index" value="{{$index}}">
                {{assembly.assemblyName |limitTo:20}}
              </md-option>
            </md-select></h4>
          </div>          
        </div>
      </md-list-item>
    </md-list>

<md-divider flex></md-divider>

  <table class="table table-hover table-responsive panel">    
        <thead>
        <tr class="table" >
          <th ng-repeat="(key, val) in header" style="cursor:pointer;">
            <p ng-click="order(key)">{{val}}</p>
        </th>
          <th ng-hide="createAssembly"><p>Handling</p></th>
          <th ng-show="createAssembly"><p>Select</p></th>          
        </tr>
        </thead>

        <tbody>
        <tr ng-repeat="sample in collection  | filter:search |filter:{itemAssembled:true} | orderBy:predicate:reverse"> <!--  -->
          
          <td>{{sample.itemCode | limitTo:17}}</td>
          <!-- <td>{{sample.itemName}}</td> -->
          <td contentEditable="{{createAssembly}}" ng-model="sample.itemAmount" type="number">{{sample.itemAmount}}</td>
          
          <td>{{sample.itemName | limitTo:20}}</td>
          <!-- <td>{{sample.itemUnits}}</td> -->
          <!-- <td>{{sample.itemBrand}}</td> -->          
          <td>{{sample.itemBuyPrice}}</td>
        <td ng-hide="createAssembly">
          <i class="fa fa-pencil-square-o" ng-click="editObj(sample)"></i>&nbsp&nbsp
          <i class="fa fa-info-circle" ng-click="readObj(sample)"></i>&nbsp&nbsp
          <i class="fa fa-trash" ng-click="deleteRow(sample.ID)"></i>
          
          </td>
          <td ng-show="createAssembly"><input type="checkbox" ng-change="" ng-model="sample.insert"></td>
        </tr>
        </tbody>    
  </table>  


</md-card>